.main-content {
    display: inline-block;
    position: absolute;
    width: 1200px;
    height: 400px;
    top: 30%;
    left:10%;
    /* margin: calc ( ( 100% - 1200px ) / 2); */
    float: left;
    /* background-color: #222222; */
    /* background-color: red; */
}

main {
    display: inline-block;
    position: absolute;
    width: 1200px;
    height: 400px;
    /* margin: calc ( ( 100% - 1200px ) / 2); */
    float: left;
}

h2 {
    position: absolute;
    color:#00D1E8;
    top: 5%;
}
p {
    position: absolute;
    top:20%;
    color: white
}



main > img {
    position: absolute;
    max-width: 100%;
    height: 450px;
    width:450px;
    left: 70%;
    

}
 main > .homepage-btn {
    position: absolute;
    top: 80%;
    padding: 12px 15px 10px;
    background-color: black;
    border: 1px solid #00D1E8;
    color: #00D1E8;
} 

